h1 {
    color:sienna
  }
  h2 {
    color:brown
  }
.logo {
    float: left;
  }
  nav {
    float: right;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li {
    display: inline-block;
    position: fixed;
  }
  .menu {
      position: fixed;
      flex-direction: row;
      list-style-type: none;
   
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
    text-align:center;
}
.header {
    background: tomato;
    padding: 10px;
    position: static;
}
.main{
    display: flex;
    flex-direction: row;
}
.article{
    text-align: left;
    background: deepskyblue;
    flex: 3;
    order: 2;
    padding: 10px;
}
.aside{
    padding: 10px;
}
.aside_left{
    background: gold;
    flex: 2;
    order: 1;
}
.aside_right{
    background: hotpink;
    flex: 2;
    order: 1
}
.footer{
    background: gold;
    order: 4;
    padding: 10px;
}
.text{
    font-weight: bold;
    text-align: center;
    
}

.menu-main {
list-style: none;
margin: 40px 0 5px;
padding: 5px 0 5px;
text-align: center;
background: linen;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
content: "|";
color: #606060;
display: inline-block;
vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
text-decoration: none;
font-family: 'Ubuntu Condensed', sans-serif;
letter-spacing: 2px;
position: relative;
padding-bottom: 20px;
margin: 0 34px 0 30px;
font-size: 17px;
text-transform: uppercase;
display: inline-block;
transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
content: "";
position: absolute;
height: 4px;
top: auto;
right: 50%;
bottom: -5px;
left: 50%;
background: #feb386;
transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
padding: 25px 0 20px; 
margin: 0 30px;
}
}
.menu-main {
    list-style: none;
    margin: 40px 0 5px;
    padding: 5px 0 5px;
    text-align: center;
    background: linen;
    }
    .menu-main li {display: inline-block;}
    .menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
    }
    .menu-main li:last-child:after {content: none;}
    .menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
    }
    .menu-main a, .menu-main a:visited {color: #9d999d;}
    .menu-main a.current, .menu-main a:hover{color: #feb386;}
    .menu-main a:before,
    .menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
    }
    .menu-main a:hover:before, .menu-main .current:before {left: 0;}
    .menu-main a:hover:after, .menu-main .current:after {right: 0;}   
    @media (max-width: 550px) {
    .menu-main {padding-top: 0;}
    .menu-main li {display: block;}
    .menu-main li:after {content: none;}
    .menu-main a {
    padding: 25px 0 20px; 
    margin: 0 30px;
    }
    
 
    
 
    .menu-main {
    list-style: none;
    margin: 40px 0 5px;
    padding: 5px 0 5px;
    text-align: center;
    background: linen;
    }
    .menu-main li {display: inline-block;}
    .menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
    }
    .menu-main li:last-child:after {content: none;}
    .menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
    }
    .menu-main a, .menu-main a:visited {color: #9d999d;}
    .menu-main a.current, .menu-main a:hover{color: #feb386;}
    .menu-main a:before,
    .menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
    }
    .menu-main a:hover:before, .menu-main .current:before {left: 0;}
    .menu-main a:hover:after, .menu-main .current:after {right: 0;}   
    @media (max-width: 550px) {
    .menu-main {padding-top: 0;}
    .menu-main li {display: block;}
    .menu-main li:after {content: none;}
    .menu-main a {
    padding: 25px 0 20px; 
    margin: 0 30px;
    }